<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ErrorLevel" type="System.Configuration.NameValueSectionHandler"/>
    <section name="EnableValidationModule" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <!--This ValidationControl element expose interface to user for enable/disable module validation:
        key format(Only support disable the following 3 module because of other data has not error and should keep the quality):
          CharTable, PolyphonyRule, CompoundRule
        value format(Default is true if not assigned):
          true, false.
  -->
  <EnableValidationModule>
    <add key="CompoundRule" value="false"/>
  </EnableValidationModule>

  <!--This ErrorLevel element expose interface to user for customizing error severity level:
        key format:     %NameSpace%.%ClassName1%.%ClassName2%.%EnumName%.%EnumValue%
        value format:   MustFix, Warning, NoError.
        Example:   <add key="Microsoft.Tts.Offline.Core.PronunciationError.EmptySyllable" value="MustFix" />
  -->

  <ErrorLevel>
  </ErrorLevel>
</configuration>
