<?xml version="1.0" encoding="utf-8" ?>
<CorpusCleaner xmlns="http://schemas.microsoft.com/tts/toolsuite">
    <!--"fileSize" regex : [0-9]{1,3}[MmKk], for example: 100M, 100m, 100K, 100k.-->
    <CleanCorpus fileSize="100M" dir="D:\share\CorpusCleaner\Target" maxCharNumPerLine="5120"/>
    <RawCorpus dir="D:\NewspaperData">
        <ExcludeFiles dir="." searchPattern="readme.*"/>
        <ExcludeFiles dir="." searchPattern="sn.txt"/>
        <!--code page(optional): default is Unicode(1200)-->
        <CorpusFile type="txt" codePage="1200" searchPatterns="*.txt" removeDuplicateLine="true">
            <CharRange>
                <!--If no "Include" and "Exclude"   : Keep all as valid chars.
                    If only keep "Exclude"          : Only chars not in "Exclude" is valid chars.
                    If only keep "Include"          : Only chars in "Include" is valid chars.
                    If keep both "Include" and "Exclude" : only chars in "Include" but not in "Exclude" is valid chars.-->
                <Include>
                    <!--Range format: "from" and "to" can be eighther unicode value or char-->
                    <Range from="\u0032" to="\u0168"/>
                    <Range from="a" to="\u007a"/>
                    <!--Enum format: symbol should be char list or unicode value list.-->
                    <Chars symbol="#()"/>
                    <Chars symbol="\u0012\u0045"/>
                </Include>
                <Exclude>
                    <Range from="\u0127" to="\u0128"/>
                    <Range from="\u0155" to="\u0159"/>
                    <Chars symbol="^"/>
                </Exclude>
            </CharRange>
            <!--If merge=="true" merge two lines if the first line don't end with line ending punctuation.-->
            <LineEndingPunctuation merge="true">
                <Punctuation symbol="....."/>
                <Punctuation symbol="!"/>
                <Punctuation symbol="?"/>
            </LineEndingPunctuation>
            <RegexRules>
                <!--This pattern will make sure all lines ending with "."-->
                <Replace pattern="(.*[^\.])$" replacement="$1."/>
                <!--If want delete the line match some pattern,just set replacement to ""-->
                <Replace pattern="&amp;amp;" replacement="&amp;"/>
                <Delete pattern="html" deleteLine="true"/>
            </RegexRules>
        </CorpusFile>
        <CorpusFile type="html" codePage="1200" searchPatterns="*.html|*.htm" removeDuplicateLine="true">
            <CharRange>
            </CharRange>
            <!--If merge=="true" merge two lines if the first line don't end with line ending punctuation.-->
            <LineEndingPunctuation merge="true">
                <Punctuation symbol="....."/>
                <Punctuation symbol="!"/>
                <Punctuation symbol="?"/>
            </LineEndingPunctuation>
            <RegexRules>
            </RegexRules>
        </CorpusFile>
    </RawCorpus>
</CorpusCleaner>
